<ul class="list">
    <div class="label">Fondamentale</div>
    <div class="inner">
        <div class="line">
            <li>C</li>
            <li class="active">G</li>
            <li>D</li>
            <li>A</li>
            <li>E</li>
            <li>B</li>
            <li>F#</li>
            <li>Db</li>
            <li>Ab</li>
            <li>Eb</li>
            <li>Bb</li>
            <li>F</li>
        </div>
        <div class="line">
            <li>Am</li>
            <li>Em</li>
            <li>Bm</li>
            <li>F#m</li>
            <li>C#m</li>
            <li>G#m</li>
            <li>Ebm</li>
            <li>Bbm</li>
            <li>Fm</li>
            <li>Cm</li>
            <li>Gm</li>
            <li>Dm</li>
        </div>
    </div>
</ul>